<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>%(room)s | pychat</title>
  </head>
  <body>
    <h1>%(room)s</h1>

    <ul id="messages"></ul>
    <form id="message-form">
      <label for="message">
        Send a message:
        <input id="message" name="message" type="text" required />
      </label>
      <input type="submit" />
      <p><small>Sending as %(nick)s</small></p>
    </form>

    <article>
      <h1>Currently online</h1>
      <ul id="online"></ul>
    </article>

    <script>
      const messageList = document.getElementById("messages");
      const form = document.getElementById("message-form");
      const online = document.getElementById("online");
      const ws = new WebSocket(`ws://${location.hostname}:${location.port}/ws`);
      const readyPromise = new Promise((resolve) => {
        function onOpen(e) {
          resolve();
          ws.removeEventListener("open", onOpen);
        }

        ws.addEventListener("open", onOpen);
      });

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        await readyPromise;
        ws.send(
          JSON.stringify({
            action: "send",
            message: form.elements.message.value,
          })
        );
        form.elements.message.value = "";
      });

      ws.addEventListener("message", ({ data }) => {
        const payload = JSON.parse(data);
        if (payload.action === "message") {
          const el = document.createElement("li");
          const text = document.createElement("blockquote");
          text.innerText = payload.message;
          const author = document.createElement("figcaption");
          author.innerText = payload.sender;
          el.append(text, author);
          messageList.appendChild(el);
        } else if (payload.action === "presence") {
          while (online.lastChild) online.removeChild(online.lastChild);

          for (const nick of payload.presence) {
            const el = document.createElement("li");
            el.innerText = nick;
            online.appendChild(el);
          }
        }
      });
    </script>
  </body>
</html>
